{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title">
      {{ .Title }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
    </div>
    {{- end }}
  </header>

  {{- $isHidden := (.Param "cover.hiddenInSingle") | default (.Param "cover.hidden") | default false }}
  {{- partial "cover.html" (dict "cxt" . "IsSingle" true "isHidden" $isHidden) }}

  {{- if (.Param "ShowToc") | default true }}
  <div class="obsidian-toc">
    <h3>Tabla de Contenidos</h3>
    {{- partial "toc.html" . }}
  </div>
  {{- end }}

  <div class="post-content">
    {{ .Content }}
  </div>

  <footer class="post-footer">
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>

    {{- if (.Param "ShowPostNavLinks") | default true }}
    <div class="post-nav">
      {{- if .PrevInSection }}
      <a class="prev" href="{{ .PrevInSection.Permalink }}">
        <span class="nav-label">&laquo; Anterior</span>
        <span class="nav-title">{{ .PrevInSection.Title }}</span>
      </a>
      {{- else }}<span></span>{{- end }}
      {{- if .NextInSection }}
      <a class="next" href="{{ .NextInSection.Permalink }}">
        <span class="nav-label">Siguiente &raquo;</span>
        <span class="nav-title">{{ .NextInSection.Title }}</span>
      </a>
      {{- end }}
    </div>
    {{- end }}

    {{- $related := site.RegularPages.Related . | first 3 }}
    {{- with $related }}
    <div class="related-posts">
      <h3>Posts Relacionados</h3>
      <ul>
        {{- range . }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="date">{{ .Date.Format "2 Jan, 2006" }}</span>
        </li>
        {{- end }}
      </ul>
    </div>
    {{- end }}
  </footer>
</article>

{{- end }}
